<!--
  Generated template for the CatalogoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>

  <ion-list>
    <!-- <ion-list-header>
      <h3>VIAJES DISPONIBLES</h3>
    </ion-list-header> -->
        <!-- <button ion-button color="primary" (click)="comprarViaje()">Comprar</button> -->
    <a ion-item padding *ngFor="let v of viajesArray" (click)="openModal(v)">
      <ion-icon color="primary" item-right [name]="v.icon"></ion-icon>
        {{ v.destinationCity | uppercase }}
      <ion-grid>
        <ion-row *ngIf="v.show">
          <ion-col>Fecha Ida: {{v.startDate}}</ion-col>
          <ion-col>Fecha Regreso: {{v.endDate}}</ion-col>
          <ion-col>Millas: {{v.milesQty}}</ion-col>
          <ion-col>Precio USD: {{v.milesQty * 2}}</ion-col>
        </ion-row>
      </ion-grid>
    </a>
  </ion-list>

  <ion-fab left bottom>
    <button ion-fab color="light" (click)="comprarViaje()">
      <ion-icon name="logo-usd"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab right bottom>
      <button ion-fab color="light" (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-fab>
</ion-content>
