.tutorial-page {

    .toolbar-background {
      background: rgb(17, 17, 17);
      border-color: transparent;
    }
  
    .slide-zoom {
      height: 80%;
    }
  
    .slide-title {
      margin-top: 2.8rem;
    }
  
    .slide-image {
      max-height: 50%;
      max-width: 60%;
      margin: 18px 0;
    }
  
    b {
      font-weight: 500;
    }
  
    p {
      padding: 0 40px;
      font-size: 14px;
      line-height: 1.5;
      color: rgb(53, 53, 53);
  
      b {
        color: #43913c;
      }
    }
  
  }