page-home{

}

.scroll-content{
    // background-color: blueviolet; 
    // background-image: $app-direction;
    background-image: url('../../assets/imgs/fondo.jpeg');;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center ;
    width: 100% ;
    // position: relative ;
    // border: none ;
}




