page-home{

}

.toolbar-background-md{
    background-color: rgba(198, 61, 61, 0.11);
}


.scroll-content{
    // background-color: blueviolet; 
    // background-image: $app-direction;
    background-image: url('../../assets/imgs/fondo.jpeg');;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center ;
    width: 100% ;
    // position: relative ;
    border: none ;
}

.button-md{
    background-color: gray;
    margin-top: 30ex ;
}




